###############################################################################
# Set default behavior to leave line endings as is.
###############################################################################
* -text
